{% block block %}
<div class="{{ block.settings.class|default('container-fluid') }}">
	<ul class="nav nav-tabs" role="tablist">
	{% for childBlock in block.children %}
		{% set refId = 'tab-content' ~ childBlock.id|replace({'/': '-'}) %}
	 	<li class="nav-item">
			<a class="nav-link{% if loop.first %} active{% endif %}" data-toggle="tab" href="#{{ refId }}" role="tab">
				{{ childBlock.title|default(' ')|raw }}
			</a>
		</li>
	{% endfor %}
	</ul>
	
	<div class="tab-content">
	{% for childBlock in block.children %}
		{% set refId = 'tab-content' ~ childBlock.id|replace({'/': '-'}) %}
		<div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ refId }}" role="tabpanel">
			{{ sonata_block_render(childBlock) }}
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
